
@{
    ViewBag.Title = "Proje_Sorgula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <!--İçerikler Buraya-->
    <section class="content">
        <div class="container-fluid">
            <!--Deneme Alanı-->
            <div class="card card-primary">
                <div class="card-header">
                    @*<h3 class="card-title">Quick Example</h3>*@
                </div>
                <!-- /.card-header -->

                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Müşteri</label>
                                    <select class="form-control">
                                        <option>Müşteri 1</option>
                                        <option>Müşteri  2</option>
                                        <option>Müşteri  3</option>
                                        <option>Müşteri  4</option>
                                        <option>Müşteri  5</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Bölüm</label>
                                    <select class="form-control">
                                        <option>MERKEZ</option>
                                        <option>Bölüm  2</option>
                                        <option>Bölüm 3</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Proje</label>
                                    <select class="form-control">
                                        <option>Proje 1</option>
                                        <option>Proje 2</option>
                                        <option>Proje 3</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Revizyon</label>
                                    <select class="form-control">
                                        <option>Revizyon Yok</option>
                                        <option>-</option>
                                        <option>--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Müşteri</label>
                                    <select class="form-control">
                                        <option>Müşteri 1</option>
                                        <option>Müşteri  2</option>
                                        <option>Müşteri  3</option>
                                        <option>Müşteri  4</option>
                                        <option>Müşteri  5</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Bölüm</label>
                                    <select class="form-control">
                                        <option>MERKEZ</option>
                                        <option>Bölüm  2</option>
                                        <option>Bölüm 3</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Proje</label>
                                    <select class="form-control">
                                        <option>Proje 1</option>
                                        <option>Proje 2</option>
                                        <option>Proje 3</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Revizyon</label>
                                    <select class="form-control">
                                        <option>Revizyon Yok</option>
                                        <option>-</option>
                                        <option>--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Müşteri</label>
                                    <select class="form-control">
                                        <option>Müşteri 1</option>
                                        <option>Müşteri  2</option>
                                        <option>Müşteri  3</option>
                                        <option>Müşteri  4</option>
                                        <option>Müşteri  5</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Bölüm</label>
                                    <select class="form-control">
                                        <option>MERKEZ</option>
                                        <option>Bölüm  2</option>
                                        <option>Bölüm 3</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Proje</label>
                                    <select class="form-control">
                                        <option>Proje 1</option>
                                        <option>Proje 2</option>
                                        <option>Proje 3</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Revizyon</label>
                                    <select class="form-control">
                                        <option>Revizyon Yok</option>
                                        <option>-</option>
                                        <option>--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Müşteri</label>
                                    <select class="form-control">
                                        <option>Müşteri 1</option>
                                        <option>Müşteri  2</option>
                                        <option>Müşteri  3</option>
                                        <option>Müşteri  4</option>
                                        <option>Müşteri  5</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Bölüm</label>
                                    <select class="form-control">
                                        <option>MERKEZ</option>
                                        <option>Bölüm  2</option>
                                        <option>Bölüm 3</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Proje</label>
                                    <select class="form-control">
                                        <option>Proje 1</option>
                                        <option>Proje 2</option>
                                        <option>Proje 3</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Revizyon</label>
                                    <select class="form-control">
                                        <option>Revizyon Yok</option>
                                        <option>-</option>
                                        <option>--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">PROJE ARA</button>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>
<!-- /. İçerikler Buraya-->


<!-- Page specific script -->
<script>
$(function () {
  bsCustomFileInput.init();
});</script>



