

<footer class="main-footer">
    <strong>Copyright &copy; 1985-2020 <a href="#">EMİKON</a></strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version:</b> @((string)Session["versiyon"])
    </div>
</footer>
