

<div class="modal fade" id="modal-update-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Güncelleme Geçmişi &nbsp;|&nbsp;</h4>
                <h4 class="modal-title" id="offerCode">- </h4>&nbsp;<h4 class="modal-title" id="offerVersiyon">-</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <br />

                <div class=" row">
                    <div class="col-md-12" id="ekle">
                        <p id="p0">--</p>


                    </div>
                </div>



                <hr />
                <!--
    <p>Yüklenmiş Dosyalar&hellip;</p>
    <br />
        -->
            </div>
            <div class="modal-footer justify-content-between">
                <!-- <button type="button" class="btn btn-primary">Evet</button> -->
                <button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->





@section _Scripts
    {



}